.section {
	flex-grow: 1;
	margin: 0 auto;
	position: relative;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	max-width: 935px;
}

.content {
	float: left;
	margin-right: 28px;
	max-width: 614px;
	width: 100%;
}

.Fd_fQ {
	height: 122px;
	padding: 0 4px;
	top: 2px;
	width: 80px;
}

.vgS-T {
	bottom: 0;
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	visibility: hidden;
}

._8UZ6e {
	background-color: #fafafa;
	margin: 0 0 12px -16px;
	width: calc(100% + 32px);
}

.COOzN {
	max-width: 293px;
	position: absolute;
	right: 0;
	width: 100%;
	height: 100vh;
	margin-bottom: 30px;
	padding: 0;
	top: 60px;
}

.MnWb5 {
	position: fixed;
	top: 78px;
}

.YT6rB {
	top: 88px;
}

.m0NAq {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 62px;
	justify-content: space-between;
}

.xrWdL {
	height: auto;
	margin-bottom: 10px;
	margin-top: 18px;
}

._2NjG_ {
	width: 50px;
}

.gmFkV {
	color: #262626;
	font-weight: 600;
	overflow-x: hidden;
	text-overflow: ellipsis;
	&:visited {
		color: #262626;
		font-weight: 600;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}

	&:active {
		color: #262626;
		font-weight: 600;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}

	&:focus {
		color: #262626;
		font-weight: 600;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}

	&:hover {
		color: #262626;
		font-weight: 600;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}
}

.sH9wk {
	border-top: 1px solid #efefef;
	color: #8e8e8e;
	flex-shrink: 0;
	font-size: 14px;
	line-height: 18px;
	min-height: 56px;
	justify-content: center;
}

.X7cDz {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-shrink: 1;
	position: relative;
}

.Ypffh {
	background: 0 0;
	border: 0;
	color: #262626;
	display: flex;
	flex-grow: 1;
	font-size: inherit;
	height: 18px;
	max-height: 80px;
	outline: 0;
	padding: 0;
	resize: none;
	width: 0;
	&:disabled {
		opacity: .3;
		pointer-events: none;
	}

	&:focus {
		&::placeholder {
			color: #8e8e8e;
		}
	}

	&::placeholder {
		color: #8e8e8e;
	}
}

.eLAPa {
	background-color: #efefef;
	display: block;
	width: 100%;
	background-color: #efefef;
	display: block;
	width: 100%;
}

.KL4Bh {
	display: block;
	overflow: hidden;
	padding-bottom: 100%;
	display: block;
	overflow: hidden;
	padding-bottom: 100%;
}

.FFVAD {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	user-select: none;
	width: 100%;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	user-select: none;
	width: 100%;
}

._9AhH0 {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.xil3i {
	word-wrap: break-word;
	word-wrap: break-word;
}

.ZUqME {
	box-sizing: border-box;
}

.tHaIX {
	background-color: #fafafa;
}

.QzzMF {
	display: block;
}

.Igw0E {
	align-content: stretch;
}

._56XdI {
	align-items: flex-start;
}

.rBNOH {
	align-items: center;
}

.IwRSH {
	align-items: stretch;
}

.ybXk5 {
	flex-direction: row;
}

.eGOV_ {
	justify-content: flex-start;
}

.hLiUi {
	justify-content: flex-end;
}

.YBx95 {
	justify-content: center;
}

.vwCYk {
	flex: 1 1 auto;
	min-height: 0;
	min-width: 0;
}

._4EzTm {
	flex: 0 0 auto;
}

.pjcA_ {
	margin-bottom: 4px;
}

.WKY0a {
	margin-left: 4px;
}

.soMvl {
	margin-left: 8px;
}

.n4cjz {
	margin-left: 12px;
}

.ItkAi {
	margin-right: 4px;
}

.yC0tu {
	margin-right: 12px;
}

.DhRcB {
	margin-top: 8px;
}

._49XvD {
	margin-top: 12px;
}

.XfCBB {
	padding-left: 16px;
	padding-right: 16px;
}

.XTCZH {
	padding-bottom: 4px;
	padding-top: 4px;
}

.HVWg4 {
	padding-bottom: 8px;
	padding-top: 8px;
}

.change-profile-icon-button {
	appearance: none;
	background: 0 0;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	font-weight: 600;
	padding: 5px 9px;
	text-align: center;
	text-transform: inherit;
	text-overflow: ellipsis;
	user-select: none;
	width: auto;
	&:active {
		opacity: .7;
	}
}

.change-profile-icon-button[disabled] {
	pointer-events: none;
	&:not(.A086a) {
		opacity: .3;
	}
}

._8A5w5 {
	background-color: transparent;
	border: 1px solid #dbdbdb;
	color: #262626;
}

a._8A5w5 {
	background-color: transparent;
	border: 1px solid #dbdbdb;
	color: #262626;
	&:visited {
		background-color: transparent;
		border: 1px solid #dbdbdb;
		color: #262626;
	}
}

.clickable {
	border: 0;
	color: #0095f6;
	display: inline;
	padding: 0;
	position: relative;
	&:visited {
		border: 0;
		color: #0095f6;
		display: inline;
		padding: 0;
		position: relative;
	}
}

a.clickable {
	border: 0;
	color: #0095f6;
	display: inline;
	padding: 0;
	position: relative;
	&:visited {
		border: 0;
		color: #0095f6;
		display: inline;
		padding: 0;
		position: relative;
	}
}

.clickable._8A5w5 {
	color: #262626;
}

a.clickable._8A5w5 {
	color: #262626;
	&:visited {
		color: #262626;
	}
}

.ZIAjV {
	user-select: auto;
}

.By4nA {
	animation: IGCoreSpinnerSpin12 1.2s steps(12) infinite;
}

._9qQ0O {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.u-__7 {
	display: block;
}

.glyphsSpriteChevron_circle_shadow_right {
	background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_798b49104da7.png/798b49104da7.png);
	background-repeat: no-repeat;
	background-position: -294px -226px;
	height: 45px;
	width: 45px;
	background-position: -294px -273px;
}

.glyphsSpriteUser__filled__24__grey_0 {
	background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_798b49104da7.png/798b49104da7.png);
	background-repeat: no-repeat;
	background-position: -390px -460px;
	height: 24px;
	width: 24px;
}

.PIoXz {
	font-size: 12px;
	line-height: 14px;
	margin: -2px 0 -3px;
}

.xLCgt {
	font-size: 14px;
	line-height: 18px;
	margin: -3px 0 -4px;
}

.MMzan {
	font-weight: 400;
}

.qyrsm {
	font-weight: 600;
}

.KV-D4 {
	color: #262626;
}

._0PwGv {
	color: #8e8e8e;
}

.uL8Hv {
	display: block;
}

.fDxYl {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.kIKUG {
	&:active {
		opacity: 1;
	}
}

.post-profile-photo-span {
	background-color: #fafafa;
	border-radius: 50%;
	box-sizing: border-box;
	display: block;
	flex: 0 0 auto;
	overflow: hidden;
	position: relative;
	&::after {
		border: 1px solid rgba(0,0,0,.0975);
		border-radius: 50%;
		bottom: 0;
		content: '';
		left: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.qNELH {
	cursor: pointer;
}

.post-profile-photo-img {
	height: 100%;
	width: 100%;
}

.FPmhX {
	font-weight: 600;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 5px;
	margin-left: -5px;
}

a.FPmhX.MBL3Z {
	color: #262626;
}

.vi798 {
	display: flex;
	flex-direction: row;
}

.Ckrof {
	position: absolute;
}

._9nCnY {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.ekfSF {
	display: flex;
	flex-direction: row;
	height: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-width: none;
}

.stories-slide-box {
	height: 100%;
	width: 100%;
}

._6CZji {
	background: 0 0;
	border: 0;
	justify-self: center;
	outline: 0;
	padding: 16px 8px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	right: 0;
}

.oevZr {
	padding: 0;
}

._8-yf5 {
	display: block;
	position: relative;
}

.Jv7Aj {
	position: relative;
}

.mArmR {
	&:hover {
		text-decoration: underline;
	}
}

.MqpiF {
	display: inline;
}

.pZp3x {
	display: block;
	height: fit-content;
	width: fit-content;
}

.wpO6b {
	align-items: center;
	background: 0 0;
	border: 0;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 8px;
}

.ZQScA {
	padding: 0;
}

a {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	color: #00376b;
	text-decoration: none;
	&:visited {
		color: #00376b;
		text-decoration: none;
	}

	&:active {
		opacity: .5;
	}
}

article {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	align-items: stretch;
	border: 0 solid #000;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	position: relative;
}

canvas {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

div {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	align-items: stretch;
	border: 0 solid #000;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	position: relative;
}

form {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

header {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	align-items: stretch;
	border: 0 solid #000;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	position: relative;
}

img {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

li {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

nav {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	align-items: stretch;
	border: 0 solid #000;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	position: relative;
}

section {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	align-items: stretch;
	border: 0 solid #000;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	position: relative;
}

span {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

time {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

ul {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
}

video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

.js-focus-visible {
	&:focus {
		&:not([data-focus-visible-added]) {
			outline: 0;
		}

	}
}

button {
	margin: 0;
	color: #262626;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 18px;
}

input {
	color: #262626;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 18px;
}

textarea {
	color: #262626;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 18px;
}

._3G4x7 {
	color: #00376b;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	position: relative;
	vertical-align: top;
}

.hztqj {
	cursor: pointer;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.main {
	flex-grow: 1;
	order: 4;
	background-color: #fafafa;
}

.DINPA {
	color: #8e8e8e;
}

.K5OFK {
	display: inline-block;
	margin-bottom: 7px;
	margin-right: 16px;
	&:last-child {
		margin-right: 0;
	}
}

.ixdEe {
	flex-grow: 1;
	margin-bottom: 3px;
}

.SkY6J {
	padding-top: 0;
	.uxKLF {
		margin-bottom: 16px;
	}

	.K5OFK {
		margin: 0;
		color: #c7c7c7;
		font-size: 11px;
		font-weight: 400;
		line-height: 13px;
		text-transform: none;
		&:not(:last-of-type) {
			&::after {
				content: '\00B7';
				margin: 0 .25em 0 .25em;
			}

		}

	}

	.l93RR {
		color: #c7c7c7;
		font-size: 11px;
		font-weight: 400;
		line-height: 13px;
		text-transform: none;
	}

	.DINPA {
		color: #c7c7c7;
		font-size: 11px;
		font-weight: 400;
		line-height: 13px;
		text-transform: none;
		text-transform: uppercase;
	}
}

.image-input {
	display: none !important;
}

.RR-M- {
	align-items: center;
	align-self: center;
	display: block;
	flex: none;
	justify-content: center;
}

.h5uC0 {
	cursor: pointer;
}

.CfWVH {
	user-select: none;
}

.OE3OK {
	align-items: center;
	align-self: center;
	background: 0 0;
	border: 0;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	padding-bottom: 0;
	padding-top: 0;
	text-align: center;
	width: 64px;
}

.QN629 {
	margin-bottom: 8px;
	margin-top: 4px;
}

.eebAO {
	color: #262626;
	display: block;
	font-size: 12px;
	line-height: 14px;
	max-width: 64px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	text-overflow: ellipsis;
	top: 68px;
	white-space: nowrap;
}

.h_uhZ {
	letter-spacing: .01em;
	max-width: 74px;
}

.M9sTE {
	padding: 0;
}

.MEAGs {
	height: 60px;
	justify-content: center;
	position: absolute;
}

.eo2As {
	padding: 0 16px;
		&:first-child {
			margin-top: 16px;
		}

	>.Slqrh {
		&:first-child {
			margin-top: 4px;
		}

	}
}

.Slqrh {
	margin-top: 4px;
}

.ygqzn {
	margin-bottom: 8px;
}

.EtaWk {
	flex-grow: 1;
	flex-shrink: 1;
	margin-bottom: 4px;
	min-height: 0;
	overflow: auto;
}

.NnvRN {
	margin-bottom: 4px;
}

._JgwE {
	margin-top: 4px;
}

.post-header-container {
	align-items: center;
	flex-direction: row;
	height: 60px;
	padding: 16px;
	border-bottom: 1px solid #efefef;
}

._5jSuY {
	color: #262626;
	font-size: 12px;
	line-height: 15px;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
}

.o-MQd {
	align-items: flex-start;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	margin-left: 12px;
	overflow: hidden;
}

.z8cbW {
	margin-left: 14px;
}

.M30cS {
	bottom: 1px;
	display: block;
	max-width: 100%;
	overflow: hidden;
	padding: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ltpMr {
	flex-direction: row;
}

.fr66n {
	display: inline-block;
	margin-left: -8px;
}

._15y0l {
	display: inline-block;
}

.wmtNn {
	display: inline-block;
	margin-left: auto;
	margin-right: -10px;
}

._2ic5v {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	line-height: inherit;
	outline: 0;
	overflow: hidden;
	padding: 0;
}

.EDfFK {
	flex-direction: row;
	justify-content: flex-end;
}

.cqXBL {
	color: #262626;
	&:visited {
		color: #262626;
	}
}

.Nm9Fw {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1 1 auto;
	justify-content: flex-start;
	white-space: pre;
}

.KcRNL {
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	box-sizing: content-box;
}

.mOBkM {
	border-color: #fff;
}

a.r8ZrO {
	background: 0 0;
	border: 0;
	color: #8e8e8e;
	line-height: inherit;
	margin: 0;
	padding: 0;
}

._8Pl3R {
	overflow-wrap: break-word;
}

._2UvmX {
	white-space: nowrap;
}

.sXUSN {
	background: 0 0;
	border: 0;
	color: #8e8e8e;
	cursor: pointer;
	line-height: inherit;
	margin: 0;
	padding: 0;
}

.k_Q0X {
	display: block;
}

.c-Yi7 {
	color: #8e8e8e;
	margin-bottom: 5px;
	text-transform: uppercase;
	&:visited {
		color: #8e8e8e;
		margin-bottom: 5px;
		text-transform: uppercase;
	}

	._1o9PC {
		font-size: 10px;
		letter-spacing: .2px;
	}
}

.videoSpritePlayButton {
	background-image: url(https://www.instagram.com/static/bundles/es6/sprite_video_2fdc79aa66b0.png/2fdc79aa66b0.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 135px;
	width: 135px;
}

.fXIG0 {
	display: block;
	cursor: pointer;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.qBUYS {
	opacity: 0;
	transition: opacity .2s ease-out;
	transition-delay: .1s;
}

._7CSz9 {
	display: block;
	position: absolute;
	height: 135px;
	left: 50%;
	margin-left: -67px;
	margin-top: -67px;
	top: 50%;
	width: 135px;
}

.FGFB7 {
	opacity: 1;
}

.PyenC {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.G_hoz {
	background: rgba(0,0,0,.8);
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	height: 28px;
	margin: 12px;
	opacity: 0;
	padding: 0;
	position: relative;
	transition-duration: .2s;
	transition-property: opacity;
	width: 28px;
}

._6JfJs {
	opacity: 1;
}

.HBUJV {
	bottom: 0;
	left: 0;
	position: absolute;
	align-items: center;
	justify-content: center;
	right: 0;
	top: 0;
	transform: scale(.5);
}

.LcKDX {
	bottom: 0;
	left: 0;
	position: absolute;
}

.B1JlO {
	display: inline-block;
	width: 100%;
}

.OAXCp {
	display: block;
	overflow: hidden;
	padding-bottom: 100%;
}

.wymO0 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

._5wCQW {
	background-color: #000;
	height: 100%;
	justify-content: center;
	left: 0;
	min-width: 100%;
	position: absolute;
	top: 0;
}

.tWeCl {
	width: 100%;
	height: 100%;
}

._8jZFn {
	top: 0;
	left: 0;
	height: 100%;
	margin: 0 auto;
	position: absolute;
	width: 100%;
}

.ZyFrc {
	touch-action: manipulation;
}

.kHt39 {
	flex-grow: 1;
	cursor: pointer;
	position: relative;
	user-select: none;
}

.xUdfV {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transform-origin: center top;
	transform: scale(0);
	transition-duration: .2s;
	transition-property: transform,opacity;
	transition-timing-function: cubic-bezier(.16,1.275,.725,1.255);
	&:hover {
		z-index: 100;
	}
}

.JYWcJ {
	background-color: rgba(0,0,0,.85);
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	font-size: 14px;
	line-height: 18px;
	user-select: none;
	color: #fff;
	font-weight: 600;
	&:link {
		color: #fff;
		font-weight: 600;
	}

	&:visited {
		color: #fff;
		font-weight: 600;
	}

	&:hover {
		text-decoration: none;
	}
}

.wCuNw {
	line-height: 36px;
	position: relative;
	display: inline-block;
}

.eg3Fv {
	margin: 0 12px;
}

.Mu0TI {
	border-style: solid;
	height: 0;
	left: 50%;
	margin-left: -6px;
	position: absolute;
	width: 0;
}

.Vj5NV {
	border-color: transparent transparent rgba(0,0,0,.85);
	border-width: 0 6px 6px;
	top: -5px;
}

@media (min-width:640px) {
	._1SP8R {
		padding-top: 60px;
	}

	.post-container {
		background-color: #fff;
		margin-left: -1px;
		margin-right: -1px;
		border-radius: 3px;
		border: 1px solid #dbdbdb;
		margin-bottom: 60px;
	}
}

@media (max-width:640px) {
	._1SP8R {
		margin-bottom: 10px;
	}
}

@media (max-width:735px) {
	.post-container {
		margin-bottom: 15px;
	}

	.Nzb55 {
		font-size: 14px;
		line-height: 17px;
	}
}

@media (min-device-pixel-ratio:1.5) {
	.glyphsSpriteChevron_circle_shadow_right {
		background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_624485a30c01.png/624485a30c01.png);
		background-size: 510px 477px;
		background-position: -291px -269px;
	}

	.glyphsSpriteUser__filled__24__grey_0 {
		background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_624485a30c01.png/624485a30c01.png);
		background-size: 510px 477px;
		background-position: -275px -453px;
	}

	.videoSpritePlayButton {
		background-image: url(https://www.instagram.com/static/bundles/es6/sprite_video_2x_4ca1223795d3.png/4ca1223795d3.png);
		background-size: 271px 149px;
		background-position: 0 0;
	}
}

@media (min-resolution:144dpi) {
	.glyphsSpriteChevron_circle_shadow_right {
		background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_624485a30c01.png/624485a30c01.png);
		background-size: 510px 477px;
		background-position: -291px -269px;
	}

	.glyphsSpriteUser__filled__24__grey_0 {
		background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_624485a30c01.png/624485a30c01.png);
		background-size: 510px 477px;
		background-position: -275px -453px;
	}

	.videoSpritePlayButton {
		background-image: url(https://www.instagram.com/static/bundles/es6/sprite_video_2x_4ca1223795d3.png/4ca1223795d3.png);
		background-size: 271px 149px;
		background-position: 0 0;
	}
}

@media (min-width:876px) {
	.SkY6J {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 38px 0;
		.uxKLF {
			max-width: 100%;
			._9Rlzb {
				margin-right: 0;
			}

		}

		.ixdEe {
			margin-right: 16px;
		}

	}
}

@media (max-width:875px) {
	.SkY6J {
		padding: 10px 0;
		text-align: center;
		.ixdEe {
			justify-content: center;
			margin: 0 auto;
			max-width: 360px;
		}

	}
}

@media (min-resolution:2dppx) {
	.KcRNL {
		border: 0;
		&::before {
			border-radius: 50%;
			border-style: solid;
			border-width: 5px;
			content: '';
			height: 200%;
			left: -2.5px;
			position: absolute;
			top: -2.5px;
			transform-origin: top left;
			transform: scale(.5);
			width: 200%;
		}

	}

	.mOBkM {
		&::before {
			border-color: #fff;
		}

	}
}

@media (min-width:736px) {
	.Nzb55 {
		font-size: 15px;
		line-height: 18px;
	}
}

