.post-profile-photo-container {
  position: relative;
  display: block;
  height: fit-content;
  width: fit-content;
	&:hover {
		text-decoration: underline;
	}
}

.post-profile-name-container {
	max-width: 220px;
	align-items: center;
	flex-direction: row;
	flex-grow: 1;
	flex-shrink: 1;
	max-width: 100%;
	overflow: hidden;
	padding: 2px;
	top: 1px;
}

.post-profile-photo {
  align-items: center;
	align-self: center;
	display: block;
	flex: none;
	justify-content: center;
  cursor: pointer;
}

.post-container {
  ._JgwE {
    padding-right: 26px;
  }

  .post-options-button-container {
    bottom: 0;
    height: 52px;
    right: 4px;
    top: auto;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .eo2As {
    padding: 0;
  }

  .Slqrh {
    padding-left: 16px;
    padding-right: 16px;
  }

  .ygqzn {
    padding-left: 16px;
    padding-right: 16px;
  }

  .NnvRN {
    padding-left: 16px;
  }

  ._JgwE {
    padding-left: 16px;
    padding-right: 16px;
  }

  .post-options-button-container {
    height: 60px;
    top: 0;
  }

  .EtaWk {
    margin: 0 0 auto;
    padding: 0 16px;
  }
}

.post-profile-name {
  appearance: none;
	background: 0 0;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	font-weight: 600;
	padding: 5px;
	text-align: center;
	text-transform: inherit;
	text-overflow: ellipsis;
	user-select: none;
	width: auto;
  color: #262626 !important;
	&:active {
		opacity: .7;
	}
}

.post-options-button-container {
  height: 60px;
	justify-content: center;
	position: absolute;
}
